<div class="container">
    <h1 class="mt-4">Inicio</h1>
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Ciudad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Luis Fernando</td>
          <td>24</td>
          <td>Santa Cruz</td>
        </tr>
        <tr>
          <td>2</td>
          <td>María</td>
          <td>22</td>
          <td>Montero</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Carlos</td>
          <td>35</td>
          <td>San Julian</td>
        </tr>
      </tbody>
    </table>
  </div>
  